.myNavBar {
    background-color: #004080;
    border-radius: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myNavBarCollapse {
  display: flex!important;
  justify-content: space-between;
  align-items: center;
}

.myNavBar .navbar-nav>li>a {
    color: #ffffff;
    padding-top: 0px; 
    padding-bottom: 0px;
}

.myNavBar .myNav>li>a:focus, .myNavBar .myNav>li>a:hover {
    text-decoration: none;
    background-color: #337ab7;
}

.myNavBar .myNav .open>a, .myNavBar .myNav .open>a:focus, .myNavBar .myNav .open>a:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}

.myNavBar .myBrand {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px
}

.navbar-toggle .icon-bar {
  background-color: #5FBB46;
}

@media (max-width: 767px) {
  #myNav {
    display: none;
  }
  .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
  }
  .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #262626;
  }
}

.container {
  width: 100% !important;
}

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  border-radius: 50%;
}

.welcomeUser {
  margin-bottom: 50px;
  text-align: right;
}

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 124px !important;
}