.background{
  position: fixed;
  z-index: -1;
  // background-image: image-url("unb-background-login.jpg");
  // -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  // filter: blur(5px);
  // background-image: linear-gradient(to right, #2471d6, #133E79);

  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  // background: #757F9A;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  background-size: cover;
  background-repeat:no-repeat;
  top: 0;
  bottom: 0;
  width: 100%;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}

.image_sigs{
  width: 60px;
  height: 30px;
  margin: 30px;
}

.form-login{
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  margin: auto;
  border-radius: 5px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-login-brand {
  color: #ffffff !important;
  text-decoration : none !important;
  font-weight: bold;
  font-size: 30px;
  padding: 30px;
}

.form-login-header {
  background-image: linear-gradient(to left, #2471d6 , #2B32B2);
  // background: #1488CC;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: 65px;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-login-footer {
  background-color: #F0F1F6;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (min-width: 100px) {
  .form-login{
    width: 92%;
  }
}

@media only screen and (min-width: 768px) {
  .form-login{
    width: 55%;
  }
}

@media only screen and (min-width: 768px) {
  .form-login{
    width: 55%;
  }
}

@media only screen and (min-width: 1024px) {
  .form-login{
    width: 40%;
  }
}

.rails-login{
  display: flex ;
  flex-direction: column ;
  width: 100%;
  padding: 30px;
  margin: 0 auto !important;
}

.input-field {
  margin-top: 10px;
  padding-left: 10px;
  color: black;
  width: 100%;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  border-style: solid;
  border-radius: 5px;
  letter-spacing: 1px;
  border-width: 2px;
  border-color: #e6e7ed;
}

.button-success {
  width: 100% !important;
  align-self: center;
  height: 45px;
  border-radius: 5px;
  border-style: none;
  margin-top: 15px;
  color: white;
  background-color: #133E79;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 300;
}

.cadastro {
  font-family: 'Montserrat', sans-serif;
  padding-left: 30px;
}
