.nav-sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  z-index: 1;
  width: 220px !important;
  background-color: #FAFAFA;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2), 0px 20px 10px 0px rgba(0, 0, 0, 0.19);
  transition: all 500ms linear;
}

.sidebar-item-ancor {
  width: 100%;
  text-decoration: none;
}

.sidebar-top-level-items {
  padding-left: 0;
  list-style: none;
}


.sidebar-item {
  display: flex;
  flex-direction: row;
  min-height: 20px;
  height: 45px;
  border-bottom: 1px solid #E8E8E8;
}

.nav-sidebar li a {
transition: padding 0.3s;
display: flex;
align-items: center;
padding: 12px 15px;
text-decoration: none;
color: #707070;
}

.nav-sidebar li a:hover {
  background-color: #E2E2E2;
  transition: 0.3s;
}

.nav-sidebar li.active {
  box-shadow: inset 4px 0 0 #707070;
}

.sidebar-top-level-items > li.active {
  background: rgba(0,0,0,0.04);
}

 


.label-funcoes{
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Montserrat','Sawasdee', sans-serif;
}

.icon{
  display: flex;
  margin-right: 8px;
  margin-left: 5px;
}

.icon-ofertas{
  background-image: image-url("oferta.png");
  background-size: cover;
  background-repeat:no-repeat;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5%;
  width: 20px;
  height: 20px;
}

.icon-solicitacoes{
  background-image: image-url("solicitacoes.png");
  background-size: cover;
  background-repeat:no-repeat;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5%;
  width: 20px;
  height: 20px;
}

.icon-relatorios{
  background-image: image-url("relatorios.png");
  background-size: cover;
  background-repeat:no-repeat;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5%;
  width: 20px;
  height: 20px;
}



// TODO ADD FONT ROBOTO TO THE PROJECT
