.form-register {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  margin: auto;
  border-radius: 5px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#form-new-user {
  overflow-y: scroll;
  max-height: 550px;
}

.flexContainer {
  background-image: linear-gradient(to left, #2471d6, #2B32B2);
  width: 100%;
  height: 65px;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blockForm {
  width: 350px;
}

#erro-message {
  color: #AAA;
  text-align: left;
  padding: 10px;
  column-count: 2;
  list-style-position: inside;
  // list-style: none;
  font-style: italic;
  border-bottom: 1px red;
  // height: 130px;
}

#erro-message > li {
}

#dropdown-group,
#dropdown-group > div {
  height: 70px;
  z-index: 100;
}

.dropText {
  text-align: left;
  color: #000000;
}


@media only screen and (min-width: 100px) {
  .form-register {
    width: 92%;
  }
}

@media only screen and (min-width: 768px) {
  .form-register {
    width: 55%;
  }
}

@media only screen and (min-width: 768px) {
  .form-register {
    width: 55%;
  }
}

@media only screen and (min-width: 1024px) {
  .form-register {
    width: 40%;
  }
}

#password-strength-text {
  text-align: right;
}

meter {
  width: 100%;

  /* Applicable only to Firefox */
  background: #ddd;
}

meter::-webkit-meter-bar {
  background: #ddd;
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }
