h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.container.container-fluid{
  margin:0;
  padding:0;
}

.container.container-fluid h1,
.container.container-fluid h2,
.container.container-fluid h3 {
  font-family: 'Montserrat','Sawasdee', sans-serif;
}

.subtitle, .subtitleRequest {
  font-weight: 300;
  font-family: 'Montserrat','Sawasdee', sans-serif;
}

.subtitleRequest {
  margin-top: 0;
}

.container.container.container-fluid.myContainer:not(#signIn) {
  height: 100%;
  display: flex;
  flex-direction: row;
  
}

.container.container-fluid .mainConteiner {
  color: #1c1c20;
  margin-bottom: 100px;
}

::selection {
  background-color: #cecece;
  color: #FFF;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.flexContainer .flexStart {
  display: flex;
  justify-content: flex-start;
}

.flexColumn {
  flex-direction: column;
}

.alignEnd {
  align-items: flex-end;
}

.alertContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 9999;
}
.alert.alert-success,
.alert.alert-notice,
.alert.alert-error{
  border-radius:0;
  color:#FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:10px;
  margin: 0;
  // margin-bottom: 10px;
  border: none;
  width: 250px;
  z-index: 100;
}

.alert.alert-success {
  background: #73d97d;
}

.alert.alert-notice {
  background: #388de2;
}

.alert.alert-error {
  background: #e23838;
}

.container.container-fluid .mainConteiner.table {
  width: 100%;
}

// #erro-message {
//   max-width: 200px;
// }

.far-room {
  background-color: #ffb3b3;
}

.near-room {
  background-color: #99ff99;
}

.form-title {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px;
  color: white;
  height: fit-content;
}

/* Fontes */
@font-face {
  font-family: 'Sawasdee';
  src:url('Sawasdee.ttf');
  font-weight: normal;
  font-style: normal;
}
