<!-- <button onclick="hideSidebar()" class="btn btn-success">☰</button> -->
<div class="nav-sidebar" id="sidebarComponent">
  <ul class="sidebar-top-level-items">
    <li href="#" class="sidebar-item">
      <a class="sidebar-item-ancor" href="">
        <div class="nav-icon-container">
          <i class="fas fa-door-open icon"></i>
        </div>
        <span class="nav-item-name">
          Salas
        </span>
      </a>
    </li>
    <li href="#" class="sidebar-item">
      <a class="sidebar-item-ancor" href="">
        <div class="nav-icon-container">
          <i class="fas fa-graduation-cap icon"></i>
        </div>
        <span class="nav-item-name">
          Ofertas
        </span>
      </a>
    </li>
    <li href="#" class="sidebar-item">
      <a class="sidebar-item-ancor" href="">
        <div class="nav-icon-container">
          <i class="fas fa-bell icon"></i>
        </div>
        <span class="nav-item-name">
          Solicitações
        </span>
      </a>
    </li>
    <li href="#" class="sidebar-item">
      <a class="sidebar-item-ancor" href="">
        <div class="nav-icon-container">
          <i class="fas fa-file-alt icon"></i>
        </div>
        <span class="nav-item-name">
          Relatórios
        </span>
      </a>
    </li>
  </ul>
</div>

