<div class="sidebarComponent">
  <div class="personalInfo">
    jaoao
    123
  </div>
  <div class="sidebarFunctions">
    <div class="div-action-sidebar">
      <label>
        Salas
      </label>
    </div>
    <div class="div-action-sidebar">
      <label>
        Ofertas
      </label>
    </div>
    <div class="div-action-sidebar">
      <label>
        Solicitações
      </label>
    </div>
    <div class="div-action-sidebar">
      <label>
        Relatórios
      </label>
    </div>
  </div>
</div>
