<!-- <button onclick="hideSidebar()" class="btn btn-success">☰</button> -->
<div class="sidebarComponent" id="sidebarComponent">
  <div class="sidebarFunctions">
    <div class="function-salas">
      <img class="icon-sala">
      <label class="label-funcoes">
        Salas
      </label>
    </div>
    <div class="function-salas">
      <img class="icon-ofertas">
      <label class="label-funcoes">
        Ofertas
      </label>
    </div>
    <div class="function-salas">
      <img class="icon-solicitacoes">
      <label class="label-funcoes">
        Solicitações
      </label>
    </div>
    <div class="function-salas">
      <img class="icon-relatorios">
      <label class="label-funcoes">
        Relatórios
      </label>
    </div>
  </div>
</div>
