<button onclick="myFunction()" class="btn btn-success">Open</button>
<div class="sidebarComponent" id="sidebarComponent">
  <div class="personalInfo">
    <img class="foto-perfil">
    <div class="informacoes">
    <label class="personalInfo-label" wrap-content>
      Romeu Carvalho Antunes
    </label>
    <label class="personalInfo-label">
      15/0147554
    </label>
  </div>
  </div>
  <div class="sidebarFunctions">
    <div class="function-salas">
      <img class="icon-sala">
      <label class="label-funcoes">
        Salas
      </label>
    </div>
    <div class="function-salas">
      <img class="icon-ofertas">
      <label class="label-funcoes">
        Ofertas
      </label>
    </div>
    <div class="function-salas">
      <img class="icon-solicitacoes">
      <label class="label-funcoes">
        Solicitações
      </label>
    </div>
    <div class="function-salas">
      <img class="icon-relatorios">
      <label class="label-funcoes">
        Relatórios
      </label>
    </div>
  </div>
</div>
