
    <!-- Error Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="alert alert-warning errorTxt" role="alert"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <div><figure><%= link_to image_tag("rodape_unb.png"), 'http://www.unb.br' %></figure></div>
  </div><!-- ./login -->
  <div><h1 class="titleSigs">Sistema Inteligente de Gestão de Salas</h1></div>
